body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
    color: #333;
}

#encabezado-principal {
    background-color: #8bc4fd; 
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #3399ff; 
}

.titulo-principal {
    font-size: 100px;
    color: #003366; 
}

.texto-introduccion {
    max-width: 700px;
    margin: auto;
    font-size: 20px;
    color: #2b4f73; 
}

.lista-indice {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.lista-indice li {
    display: inline-block;
    margin: 0 15px;
    font-weight: bold;
    color: #003366;
    cursor: pointer;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
}

section h2 {
    border-left: 6px solid #3399ff; 
    padding-left: 10px;
    color: #0059b3; 
}

.lista-sucursales {
    list-style: square;
    padding-left: 20px;
    color: #2b4f73;

}


.lista-sucursales li {
    margin-bottom: 50px;

}

.categoria {
    margin-bottom: 30px;
}

.categoria h3 {
    color: #0066cc; 
    border-bottom: 2px solid #99ccff; 
    padding-bottom: 5px;
}

.categoria ul {
    list-style: none;
    padding: 0;
}

.categoria li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.categoria li img {
    border-radius: 8px;
    border: 2px solid #99ccff; 
}

img {
    max-width: 100%;
    border-radius: 100px;
    margin-bottom:80px;
    margin-top: 50px;
    margin-left: 30px;
}